/* file name: styles.scss */
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
*, *::before, *::after {
  box-sizing: border-box; }

body {
  background-color: #121212;
  color: #FFFFFF;
  font-family: "Exo", sans-serif;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease; }
  body.light-mode {
    background-color: #f0f0f0;
    color: #000000; }
  body p {
    margin-bottom: 0.5rem; }

a {
  color: gray;
  text-decoration: none;
  transition: color 0.3s ease; }
  a:hover {
    text-decoration: underline; }
  body.light-mode a {
    color: #007BFF; }

h1 {
  font-size: 1.4rem; }

.stay-on-table {
  padding: 0;
  margin: 0; }

.container-main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.table-selection {
  margin-bottom: 2rem; }

.question-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem; }
  .question-section #feedback {
    height: 2.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: all 0.3s ease; }
  .question-section #question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .question-section #question-container #question {
      font-size: 2rem;
      margin-bottom: 1rem;
      transition: all 1s ease; }
      .question-section #question-container #question.animate-transform {
        animation: transformEquation 1s forwards; }
    .question-section #question-container input#answer-input {
      font-size: 1.5rem;
      width: 6rem;
      text-align: center;
      margin-bottom: 1rem;
      -moz-appearance: textfield;
      appearance: textfield;
      border: 2px solid gray;
      border-radius: 5px;
      transition: border-color 0.3s ease; }
      .question-section #question-container input#answer-input:focus {
        border-color: #b3b3b3;
        outline: none; }
    .question-section #question-container input::-webkit-outer-spin-button,
    .question-section #question-container input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .question-section #question-container .submit-btn {
      background-color: #888484;
      border: none;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease; }
      .question-section #question-container .submit-btn:hover {
        background-color: #6e6b6b; }
      .question-section #question-container .submit-btn:disabled {
        background-color: #bab8b8;
        cursor: not-allowed; }
  .question-section .progress-containers {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem; }
    @media (max-width: 768px) {
      .question-section .progress-containers {
        flex-direction: column; } }
  .question-section .progress-box {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease; }
    .question-section .progress-box h3 {
      margin-bottom: 0.5rem;
      font-size: 1.2rem; }
    .question-section .progress-box .progress-content {
      max-height: 100px;
      overflow-y: auto;
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.9);
      animation: fadeIn 0.5s ease-in-out; }
    .question-section .progress-box .toggle-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      color: rgba(255, 255, 255, 0.7);
      cursor: pointer;
      font-size: 1rem;
      transition: color 0.3s ease; }
      .question-section .progress-box .toggle-button:hover {
        color: white; }
    .question-section .progress-box.flagged-box {
      background-color: rgba(255, 0, 0, 0.1); }
    .question-section .progress-box.session-box {
      background-color: rgba(0, 123, 255, 0.1); }
@keyframes transformEquation {
  0% {
    transform: scale(1);
    color: #FFFFFF; }
  50% {
    transform: scale(1.2);
    color: white; }
  100% {
    transform: scale(1);
    color: #FFFFFF; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes blink {
  0%,
    50%,
    100% {
    opacity: 1; }
  25%,
    75% {
    opacity: 0.5; } }
  .question-section .sleep-indicator {
    margin-top: 1rem;
    font-size: 2rem;
    animation: blink 1s infinite; }

.footer {
  margin-top: 20rem;
  padding: 1rem;
  background-color: #333;
  color: #FFFFFF;
  text-align: left; }
  body.light-mode .footer {
    background-color: #ddd;
    color: #000000; }
  .footer .footer-hijitos {
    text-align: center; }

.description-box {
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #747070;
  color: #FFFFFF;
  text-align: left; }
  body.light-mode .description-box {
    background-color: #fff;
    color: #000000; }

.division-table input {
  text-align: center;
  width: 3ch; }
.division-table td:nth-child(7) {
  border-right: 2px solid gray; }
.division-table #question td:nth-child(n+8):nth-child(-n+14) {
  border-bottom: 2px solid gray; }

copyright {
  background-color: #121212;
  color: #FFFFFF;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px 15px;
  text-align: left; }
  .light-theme copyright {
    background-color: #f0f0f0;
    color: #000000;
    border-color: #007BFF; }

.btn-delete-localstore {
  text-align: left !important; }

/*# sourceMappingURL=styles.css.map */
